# 01. 데이터에 관하여

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('python_stat_sample-master/data/ch1_sport_test.csv',
                 index_col = '학생번호')
df

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2
6      2  36.5      20   9   9
7      3  36.6      31  13   6
8      3  49.2      37  18   1
9      3  26.0      28  10   8
10     3  47.4      32  16   3

In [3]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [5]:
df.shape

(10, 5)

## 1.2 변수의 종류

### 질적 변수와 양적 변수
#### 질적 변수 : 명목형 변수, 순서형 변수
#### 양적 변수 : 수치형 변수
### 

### 척도 수준
#### 질적 변수
- 명의 척도 : 단순히 분류하기 위한 변수
- 순서 척도 : 순서 관계나 대소 관계에 의미가 있는 변수

#### 양적 변수
- 간격 척도 : 대소 관계와 함께 그 차이에도 의미 (연도, 온도)
- 비례 척도 : 대소 관계, 차이, 비 모두에 의미가 있는 변수 (길이, 무게)

| **척도** | **예** | **대소 관계** | **차이** | **비** |
| -- | -- | -- | -- | -- |
| 명의 척도 | 학생번호 | X | X | X |
| 순서 척도 | 성적 순위 | O  | X | X |
| 간격 척도 | 온도 | O | O | X |
| 비례 척도 | 키  | O | O | O |

### 이산형 변수와 연속형 변수
#### 이산형 변수 
- 하나하나의 값을 취하는 변수
- 서로 인접한 숫자 사이에 값이 존재하지 않음 (주사위)

#### 연속형 변수 
- 연속적인 값을 취할 수 있는 변수