In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.6     v dplyr   1.0.8
v tidyr   1.2.0     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

- read_csv() : 쉼표로 구분된 파일을 읽음
- read_csv2() : 세미콜론으로 구분된 파일을 읽음
- read_tsv() : 탭으로 구분된 파일을 읽음
- read_delim() : 임의의 구분자로 된 파일을 읽음
- read_fwf() : 고정 너비 파일을 읽음, fwf_widths()를 이용하여 필드 너비 지정, fwf_positions()를 이용하여 필드 위치 지정,
- read_table() : 고정 너비 파일의 일반적 변형 형태인 열이 공백으로 구분된 파일을 읽음
- read_log() : Apache스타일의 로그 파일을 읽음

####  read_csv() 함수는 쉼표를 사용하고 read_csv2() 함수는 세미콜론(;)을 사용합니다. 세미콜론을 사용하면 쉼표를 소수점으로 사용할 때 유용합니다.

In [104]:
setwd("C:/Users/이찬솔/Desktop/숭실/R/Data Science/data")

In [105]:
getwd()

[1] "C:/Users/이찬솔/Desktop/숭실/R/Data Science/data"

### read_csv

In [12]:
heights <- read_csv("heights.csv")
dim(heights); head(heights)

Rows: 1192 Columns: 6
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (2): sex, race
dbl (4): earn, height, ed, age

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 1192    6

  earn  height   sex    ed age race
1 50000 74.42444 male   16 45  white
2 60000 65.53754 female 16 58  white
3 30000 63.62920 female 16 29  white
4 50000 63.10856 female 16 91  other
5 51000 63.40248 female 17 39  white
6  9000 64.39951 female 15 26  white

In [11]:
read_csv("a,b,c
1,2,3
4,5,6") # 첫 번쨰 줄을 열 이름으로 사용

Rows: 2 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): a, b, c

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b c
1 1 2 3
2 4 5 6

In [13]:
read_csv("메타 데이터 첫 번쨰 행
메타 데이터 두 번째 행
x, y, z
1, 2, 3", skip = 2) # 앞의 두줄 skip

Rows: 1 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): x, y, z

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y z
1 1 2 3

In [14]:
read_csv("# 건너뛰고 싶은 주석
x, y, z
1, 2, 3", comment = "#") # #으로 시작하는 줄 무시

Rows: 1 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): x, y, z

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y z
1 1 2 3

In [15]:
read_csv("1,2,3\n4,5,6", 
         col_names = F) # 첫 행을 헤드로 취급하지 않음

Rows: 2 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): X1, X2, X3

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3
1 1  2  3
2 4  5  6

In [16]:
read_csv("1,2,3\n4,5,6", 
         col_names = c("x", "y", "z")) # 변수명 설정

Rows: 2 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (3): x, y, z

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y z
1 1 2 3
2 4 5 6

In [17]:
read_csv("a,b,c\n1,2,.", na = ".") # 결측값을 나타내는데 사용하는 값을 지정

Rows: 1 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (2): a, b
lgl (1): c

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b c
1 1 2 NA

### read_delim()
- 필드가 '|'로 분리된 파일 읽기

In [ ]:
read_delim(file, delim = "|")

In [18]:
# 8.2.2
# 4
x <- "x,y\n1,'a,b'"
read_delim(x, ",", quote = "'")

Rows: 1 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): y
dbl (1): x

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y
1 1 a,b

In [19]:
read_csv(x, quote = "'")

Rows: 1 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): y
dbl (1): x

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x y
1 1 a,b

In [34]:
# 5
read_csv("a,b\n1,2,3\n4,5,6")
read_csv("a,b,c\n1,2\n1,2,3,4")
read_csv("a,b\n\"1")
read_csv("a,b\n1,2\na,b")
read_csv("a;b\n1;3")
read_csv2("a;b\n1;3")

Warning message:
"One or more parsing issues, see `problems()` for details"
Rows: 2 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (1): a

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b
1 1 23
2 4 56

Warning message:
"One or more parsing issues, see `problems()` for details"
Rows: 2 Columns: 3
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl (2): a, b

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b c
1 1 2 NA
2 1 2 34

Rows: 0 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (2): a, b

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

     a b

Rows: 2 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (2): a, b

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b
1 1 2
2 a b

Rows: 1 Columns: 1
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr (1): a;b

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a;b
1 1;3

i Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 1 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ";"
dbl (2): a, b

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  a b
1 1 3

### 벡터 파싱

### * parse_logical() : 논리형 파싱
### * parse_integer() : 정수형 파싱
### * parse_double() : 실수형 파싱
### * parse_number() : 수치형 파싱

In [23]:
parse_logical(c("TRUE", "FALSE", "NA")) # 논리형 파싱
parse_integer(c("1", "2", "3")) # 정수형 파싱
parse_date(c("2010-01-01", "1979-10-14")) # 날짜형 파싱

[1]  TRUE FALSE    NA

[1] 1 2 3

[1] "2010-01-01" "1979-10-14"

In [24]:
parse_integer(c("1", "123", "?", "456"), na = "?") # ?를 NA로 인식

[1]   1 123  NA 456

In [25]:
parse_double("1.23")

[1] 1.23

In [29]:
parse_double("1,23", locale = locale(decimal_mark = ",")) # ","를 소수점으로 인식

[1] 1.23

In [31]:
# 숫자 앞뒤의 비수치 문자를 무시
parse_number("$100")
parse_number("20%")
parse_number("It cost $123.45")

[1] 100

[1] 20

[1] 123.45

In [32]:
parse_number("$123,456,789") # 미국식
parse_number("123.456.789", locale = locale(grouping_mark = ".")) # 유럽식
parse_number("123'456'789", locale = locale(grouping_mark = "''")) # 스위스식

[1] 123456789

[1] 123456789

[1] 123456789

### * parse_character() : 문자형 파싱

In [36]:
charToRaw("Hadley") # 아스키 인코딩

[1] 48 61 64 6c 65 79

In [38]:
(x1 <- "El Ni\xf1o was particularly bad this year")
(x2 <- "\x82\xb1\x82\xf1\x82\xc9\x82\xbf\x82\xcd")

[1] "El Ni\xf1o was particularly bad this year"

[1] "궞귪궸궭궼"

In [42]:
parse_character(x1, locale = locale(encoding = "Latin1"))
parse_character(x2, locale = locale(encoding = "Shift-JIS"))

[1] "El Nino was particularly bad this year"

[1] "こんにちは"

In [44]:
guess_encoding(charToRaw(x1)) # 올바른 인코딩 탐색

  encoding   confidence
1 ISO-8859-1 0.46
2 ISO-8859-9 0.23

In [45]:
guess_encoding(charToRaw(x2))

  encoding confidence
1 KOI8-R   0.42

### * parse_factor() : 요인형 생성

In [46]:
fruit <- c("apple", "banana")
parse_factor(c("apple", "banana", "bananana"), levels = fruit)

Warning message:
"1 parsing failure.
row col           expected   actual
  3  -- value in level set bananana
"

[1] apple  banana <NA>
attr(,"problems")
# A tibble: 1 x 4
    row   col expected           actual
  <int> <int> <chr>              <chr>
1     3    NA value in level set bananana
Levels: apple banana

### * parse_datetime() : ISO 8601 날짜-시간 (국제 표준) (날짜가 가장 큰 것부터 가장 작은 것(년, 월, 일, 시, 분, 초)
### * parse_date() : 네 자리 연도, -또는 /, 월, -또는 /, 날짜를 입력
### * parse_time() : 시, :, 분 그리고 선택적으로 :, 초, 선택적 a.m. / p.m 표시를 입력

In [52]:
parse_datetime("2010-10-01T2010")
parse_datetime("20101010")

[1] "2010-10-01 20:10:00 UTC"

[1] "2010-10-10 UTC"

In [53]:
parse_date("2010-10-01")

[1] "2010-10-01"

In [54]:
library(hms)
parse_time("01:10 am")
parse_time("20:10:01")

01:10:00

20:10:01

- 연
    - %Y (4자리)
    - %y (2자리)
-  월
    - %m (2자리)
    - %b ("Jan"과 같이 축약된 명칭)
    - %B (전체명칭, "January")
- 일
    - %d (2자리)
    - %e (선택적 선행 공백)
- 시간
    - %H (0-23 시간 형식)
    - %I (0-12, %p와 함꼐 사용함)
    - %p (a.m / p.m 표시)
    - %M (분)
    - %S (정수 초)
    - %OS (실수 초)
    - %Z (시간대)
    - %z (UTC와의 오프셋, +0800)
- 숫자가 아닌 문자
    - %. (숫자가 아닌 문자 하나를 건너뜀)
    - %* (숫자가 아닌 문자 모두를 건너뜀)

In [55]:
parse_date("01/02/15", "%m/%d/%y")
parse_date("01/02/15", "%d/%m/%y")
parse_date("01/02/15", "%y/%m/%d")

[1] "2015-01-02"

[1] "2015-02-01"

[1] "2001-02-15"

In [58]:
parse_date("1 janvier 2015", "%d %B %Y", locale = locale("fr"))

[1] "2015-01-01"

### locale()에서 가장 중요한 인수?

The locale object has arguments to set the following:

* date and time formats : date_names, date_format, and time_format
* time zone : tz
* numbers : decimal_mark, grouping_mark
* encoding : encoding

### 많이 사용되는 인코딩
* Western European Latin script languages: ISO-8859-1, Windows-1250 (also CP-1250 for code-point)
* Eastern European Latin script languages: ISO-8859-2, Windows-1252
* Greek: ISO-8859-7
* Turkish: ISO-8859-9, Windows-1254
* Hebrew: ISO-8859-8, IBM424, Windows 1255
* Russian: Windows 1251
* Japanese: Shift JIS, ISO-2022-JP, EUC-JP
* Korean: ISO-2022-KR, EUC-KR
* Chinese: GB18030, ISO-2022-CN (Simplified), Big5 (Traditional)
* Arabic: ISO-8859-6, IBM420, Windows 1256

In [59]:
d1 <- "January 1, 2010"
d2 <- "2015-Mar-07"
d3 <- "06-Jun-2017"
d4 <- c("August 19 (2015)", "July 1 (2015)")
d5 <- "12/30/14" # Dec 30, 2014
t1 <- "1705"
t2 <- "11:15:10.12 PM"

In [67]:
parse_date(d1, "%B %d, %Y")
parse_date(d2, "%Y-%b-%d")
parse_date(d3, "%d-%b-%Y")
parse_date(d4, "%B %d (%Y)")
parse_date(d5, "%m/%d/%y")
parse_time(t1, "%H%M")
parse_time(t2, "%H:%M:%OS %p")

[1] "2010-01-01"

[1] "2015-03-07"

[1] "2017-06-06"

[1] "2015-08-19" "2015-07-01"

[1] "2014-12-30"

17:05:00

23:15:10.12

### 파일 파싱
* guess_parser() : readr의 추정을 반환
* parse_guess() : 앞의 추정을 사용하여 열을 파싱

In [69]:
guess_parser("2010-10-01")
guess_parser("15:01")
guess_parser(c("TRUE", "FALSE"))
guess_parser(c("1", "5", "9"))
guess_parser(c("12,352,561"))

[1] "date"

[1] "time"

[1] "logical"

[1] "double"

[1] "number"

In [71]:
str(parse_guess("2010-10-01"))

 Date[1:1], format: "2010-10-01"

* 논리형 : 'F', 'T', 'FALSE', 'TRUE'
* 정수형
* 소수형
* 타임형
* 데이트형
* 데이트-타임형 (ISO 8601)

### problem

In [74]:
challenge <- read_csv(readr_example("challenge.csv"))

Rows: 2000 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl  (1): x
date (1): y

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [85]:
head(challenge) ; tail(challenge)

  x    y
1  404 NA
2 4172 NA
3 3004 NA
4  787 NA
5   37 NA
6 2332 NA

  x         y
1 0.8052743 2019-11-21
2 0.1635163 2018-03-29
3 0.4719390 2014-08-04
4 0.7183186 2015-08-16
5 0.2698786 2020-02-04
6 0.6082372 2019-01-06

In [76]:
problems(challenge)

     row col expected actual file

In [79]:
challenge <- read_csv(
readr_example("challenge.csv"),
col_types = cols(
    x = col_integer(),
    y = col_character()
    )
)

Warning message:
"One or more parsing issues, see `problems()` for details"

In [81]:
challenge <- read_csv(
readr_example("challenge.csv"),
col_types = cols(
    x = col_double(),
    y = col_character()
    )
)

In [86]:
challenge <- read_csv(
readr_example("challenge.csv"),
col_types = cols(
    x = col_double(),
    y = col_date()
    )
)

In [87]:
challenge2 <- read_csv(
readr_example("challenge.csv"), guess_max = 1001)

Rows: 2000 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl  (1): x
date (1): y

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [90]:
# 모든 열을 문자형 벡터로 읽음
challenge2 <- read_csv(
readr_example("challenge.csv"), col_types = cols(.default = col_character()))

In [93]:
df = tribble(
~x, ~y,
"1", "1.21",
"2", "2.32",
"3", "4.56")
df

  x y
1 1 1.21
2 2 2.32
3 3 4.56

In [94]:
type_convert(df)

-- Column specification ------------------------------------------------------------------------------------------------
cols(
  x = col_double(),
  y = col_double()
)

  x y
1 1 1.21
2 2 2.32
3 3 4.56

### 파일에 쓰기

### write_csv()
* csv로 저장하면 유형 정보가 없어짐

In [95]:
write_csv(challenge, "challenge.csv")

In [98]:
write_csv(challenge, "challenge-2.csv")
read_csv("challenge-2.csv") %>% head()

Rows: 2000 Columns: 2
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
dbl  (1): x
date (1): y

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x    y
1  404 <NA>
2 4172 <NA>
3 3004 <NA>
4  787 <NA>
5   37 <NA>
6 2332 <NA>

### write_rds(), read_rds()
* RDS라는 R의 커스텀 바이너리 형식으로 데이터 저장

In [100]:
write_rds(challenge, "challenge.rds")
read_rds("challenge.rds") %>% head()

  x    y
1  404 <NA>
2 4172 <NA>
3 3004 <NA>
4  787 <NA>
5   37 <NA>
6 2332 <NA>

### write_feather() : 빠른 바이너리 파일 형식 구현
* feather는 RDS보다 대체적으로 빠름, R외부에서도 사용 가능

In [103]:
library(feather)
write_feather(challenge, "challenge.feather")
read_feather("challenge.feather") %>% head()

  x    y
1  404 <NA>
2 4172 <NA>
3 3004 <NA>
4  787 <NA>
5   37 <NA>
6 2332 <NA>

### 기타 데이터 유형 
- haven : SPSS, Stata, SAS 파일 읽기 가능
- readxl : .xls, .xlsx
- JSON : jsonlite
- XML : xml2