# 네이버 검색 API 서비스


# 
# 

## 네이버 웹문서 검색 API
https://developers.naver.com/docs/serviceapi/search/web/web.md#%EC%9B%B9%EB%AC%B8%EC%84%9C

In [1]:
import os
import sys
import urllib.request

import pandas as pd
import json
import re

In [2]:
client_id = "Mt8I_pQDaWDTGHwSd_pN"
client_secret = "0BGjzmfDrz"

In [3]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000

web_df = pd.DataFrame(columns = ('Title', 'Link', 'Description'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/webkr?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index)
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            description = re.sub(remove_tag, '', items[item_index]['description'])
            web_df.loc[idx] = [title, link, description]
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 이강인

In [4]:
web_df.shape

(156, 3)

In [5]:
web_df.head(3)

,Title,Link,Description
0,이강인 - 나무위키,https://namu.wiki/w/%EC%9D%B4%EA%B0%95%EC%9D%B8,대한민국 국적의 RCD 마요르카 소속 축구선수. 포지션은 공격형 미드필더.
1,"'골때녀' 이강인 누나 이정은 동생, 요즘 골 너무 못 넣어 - 매일경제",https://www.mk.co.kr/star/broadcasting-service...,"`골때녀` 이강인 누나 이정은 동생, 요즘 골 너무 못 넣어 - 스타투데이, 작성자..."
2,이강인-KANG IN LEE🇰🇷🇪🇸(@kanginleeoficial) • Insta...,https://www.instagram.com/kanginleeoficial/,"팔로워 22.2만명, 팔로잉 176명, 게시물 33개 - 이강인-KANG IN LE..."

# 
# 
## 네이버 지식 iN 검색 API
https://developers.naver.com/docs/serviceapi/search/kin/kin.md#%EC%A7%80%EC%8B%9DiN

In [6]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000
sort = "sim" 
# "sim" : 유사도 순 / "date"  : 날짜 순 / "point" : 평점 순

kin_df = pd.DataFrame(columns = ('Title', 'Link', 'Description'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/kin?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) + \
        "&sort=" + sort
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            description = re.sub(remove_tag, '', items[item_index]['description'])
            
            kin_df.loc[idx] = [title, link, description]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 이강인

In [7]:
kin_df.shape

(1000, 3)

In [8]:
kin_df.head(3)

,Title,Link,Description
0,이강인 월드컵,https://kin.naver.com/qna/detail.naver?d1id=10...,이강인 선수 월드컵에 출전 가능하겠죠? 벤투감독라인에선 희망이 보이 지 않으나.....
1,이강인 국가대표,https://kin.naver.com/qna/detail.naver?d1id=10...,아직은 황인범 이나 황희찬이 이강인보다는 잘하죠? 황희찬 황인범 교체멤버로 이강인 ...
2,손흥민과 이강인,https://kin.naver.com/qna/detail.naver?d1id=10...,손흥민과 이강인 닮았나요? 친구들이 닮았다고 해서 좀 의문이네여ㅠㅠ 진짜 닮았어요?...

# 
# 
## 네이버 블로그 검색 API
https://developers.naver.com/docs/serviceapi/search/blog/blog.md#%EB%B8%94%EB%A1%9C%EA%B7%B8

In [12]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000
sort = "sim" 
# "sim" : 유사도 순 / "date"  : 날짜 순 

blog_df = pd.DataFrame(columns = ('Title', 'Link', 'Description', 
                                  'Blogger Name', 'Blogger Link', 'Post Date'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/blog?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) + \
        "&sort=" + sort
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            description = re.sub(remove_tag, '', items[item_index]['description'])
            blogger_name = items[item_index]['bloggername']
            blogger_link = items[item_index]['bloggerlink']
            post_date = items[item_index]['postdate']
            
            blog_df.loc[idx] = [title, link, description, 
                                blogger_name, blogger_link, post_date]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 이강인

In [13]:
blog_df.shape

(1000, 6)

In [14]:
blog_df.head(3)

,Title,Link,Description,Blogger Name,Blogger Link,Post Date
0,마요르카 레알마드리드 중계 이강인 선발 라리가 무료중계...,https://blog.naver.com/olengelight?Redirect=Lo...,마요르카 레알마드리드 중계 이강인 선발 라리가 무료중계 레알마드리드 CF 마요르카 ...,:: 밀감색 조명 ♥ 희나 ::,https://blog.naver.com/olengelight,20220911
1,레알 마드리드 마요르카 중계 무료 프리뷰 이강인 경기...,https://blog.naver.com/tigger9157?Redirect=Log...,레알 마드리드 마요르카 중계 무료 프리뷰 이강인 경기 하이라이트 레알 마드리드는 산...,행동가 울쓰의 성장일기,https://blog.naver.com/tigger9157,20220911
2,마드리드 마요르카 중계 이강인 선발 라인업 스포티비나우,https://blog.naver.com/jh061158?Redirect=Log&l...,2022년9월11일 레알 마드리드 CF RCD 마요르카 경기 레알 마드리드 마요르카...,콩콩 식구들,https://blog.naver.com/jh061158,20220911

# 
# 
## 네이버 책 검색 API
https://developers.naver.com/docs/serviceapi/search/book/book.md#%EC%B1%85

In [16]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000
sort = "sim" 
# "sim" : 유사도 순 / "date"  : 날짜 순 

book_df = pd.DataFrame(columns = ('Title', 'Link', 'Image', 
                                  'Author', 'Discount', 'Publisher',
                                  'ISBN', 'Description', 'Publication Date'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/book?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) + \
        "&sort=" + sort
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            image = items[item_index]['image']
            author = items[item_index]['author']
            discount = items[item_index]['discount']
            publisher = items[item_index]['publisher']
            isbn = items[item_index]['isbn']
            description = re.sub(remove_tag, '', items[item_index]['description'])
            pubdate = items[item_index]['pubdate']
            
            book_df.loc[idx] = [title, link, image, author,
                                discount, publisher, isbn, description, pubdate]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: python

In [17]:
book_df.shape

(1000, 9)

In [18]:
book_df.head(3)

,Title,Link,Image,Author,Discount,Publisher,ISBN,Description,Publication Date
0,Python (Python basics for Beginners),https://search.shopping.naver.com/book/catalog...,https://shopping-phinf.pstatic.net/main_324603...,,40650,Ladoo Publishing LLC,9781955786331,Are you thinking about learning how to use the...,20210801
1,Python (This book includes : Python basics for...,https://search.shopping.naver.com/book/catalog...,https://shopping-phinf.pstatic.net/main_324449...,,97590,Ladoo Publishing LLC,9781955786324,Are you thinking about learning how to use the...,20210730
2,Python,https://search.shopping.naver.com/book/catalog...,https://shopping-phinf.pstatic.net/main_325494...,,47150,Davide Cicatiello,9781801157032,DescriptionAre you one of those individuals wh...,20201102

# 
# 
## 네이버 영화 검색 API
https://developers.naver.com/docs/serviceapi/search/movie/movie.md#%EC%98%81%ED%99%94

In [28]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000

movie_df = pd.DataFrame(columns = ('Title', 'Link', 'Image', 
                                  'Subtitle', 'Publication Date', 'Director',
                                  'Actor', 'User Rating'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/movie?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) 
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            image = items[item_index]['image']
            subtitle = items[item_index]['subtitle']
            pubDate = items[item_index]['pubDate']
            director = items[item_index]['director']
            actor = items[item_index]['actor']
            userRating = items[item_index]['userRating']
            
            movie_df.loc[idx] = [title, link, image, subtitle,
                                pubDate, director, actor, userRating]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 원스

In [29]:
movie_df.shape

(811, 8)

In [30]:
movie_df.head(3)

,Title,Link,Image,Subtitle,Publication Date,Director,Actor,User Rating
0,에브리씽 에브리웨어 올 앳 원스,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/21...,Everything Everywhere All At Once,2022,다니엘 콴|다니엘 쉐이너트|,양자경|스테파니 수|키 호이 콴|제이미 리 커티스|,0.00
1,한때는 바다가 있었지,https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/21...,ONCE THERE WAS A SEA...,2022,요한나 코주크|,,0.00
2,"옵스큐어 나이트 - 와일드 리브스 (더 버닝 원스, 더 옵스티네이트)",https://movie.naver.com/movie/bi/mi/basic.nhn?...,https://ssl.pstatic.net/imgmovie/mdi/mit110/21...,"Obscure night - Wild leaves (The burning ones,...",2022,실뱅 조지|,,0.00

# 
# 
## 네이버 쇼핑 검색 API
https://developers.naver.com/docs/serviceapi/search/shopping/shopping.md#%EC%87%BC%ED%95%91

In [31]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000
sort = "sim" 
# "sim" : 유사도 순 / "date"  : 날짜 순 / "asc" : 가격 오름차순 / "dsc" : 가격 내림차순

shop_df = pd.DataFrame(columns = ('Title', 'Link', 'Image', 
                                  'Low Price', 'High Price', 'Mall Name',
                                  'Product ID', 'Product Type', 'Maker', 'Brand',
                                  'Category 1', 'Category 2', 'Category 3', 'Category 4'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/shop?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) + \
        "&sort=" + sort
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            link = items[item_index]['link']
            image = items[item_index]['image']
            lprice = items[item_index]['lprice']
            hprice = items[item_index]['hprice']
            mallName = items[item_index]['mallName']
            productId = items[item_index]['productId']
            productType = items[item_index]['productType']
            maker = items[item_index]['maker']
            brand = items[item_index]['brand']
            category1 = items[item_index]['category1']
            category2 = items[item_index]['category2']
            category3 = items[item_index]['category3']
            category4 = items[item_index]['category4']
                        
            shop_df.loc[idx] = [title, link, image, lprice, hprice,
                                mallName, productId, productType, maker,
                                brand, category1, category2, category3, category4]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 베드 테이블

In [32]:
shop_df.shape

(1000, 14)

In [33]:
shop_df.head(3)

,Title,Link,Image,Low Price,High Price,Mall Name,Product ID,Product Type,Maker,Brand,Category 1,Category 2,Category 3,Category 4
0,루나랩 침대 좌식 접이식 테이블 책상 LBT01,https://search.shopping.naver.com/gate.nhn?id=...,https://shopping-phinf.pstatic.net/main_334683...,39000,,네이버,33468344621,1,,루나랩,가구/인테리어,거실가구,테이블,접이식테이블
1,슈퍼쉘 침대 핸드폰 태블릿 아이패드 자바라 스탠드 거치대,https://search.shopping.naver.com/gate.nhn?id=...,https://shopping-phinf.pstatic.net/main_237378...,15900,,네이버,23737852490,1,슈퍼쉘,슈퍼쉘,디지털/가전,휴대폰액세서리,휴대폰거치대,
2,모벵스턴 접이식 좌식 테이블 베드 트레이 CNT001,https://search.shopping.naver.com/gate.nhn?id=...,https://shopping-phinf.pstatic.net/main_305907...,14500,,네이버,30590767618,1,데몬하우스,모벵스턴,가구/인테리어,거실가구,테이블,접이식테이블

# 
# 
## 네이버 뉴스 검색 API
https://developers.naver.com/docs/serviceapi/search/news/news.md#%EB%89%B4%EC%8A%A4

In [34]:
query = urllib.parse.quote(input("검색 질의: "))

idx = 0
display = 100
start = 1
end = 1000
sort = "sim" 
# "sim" : 유사도 순 / "date"  : 날짜 순 

news_df = pd.DataFrame(columns = ('Title', 'Original Link', 'Link', 
                                  'Description', 'Publication Date'))

for start_index in range(start, end, display):
    
    url = "https://openapi.naver.com/v1/search/news?query=" + query + \
        "&display=" + str(display) + \
        "&start=" + str(start_index) + \
        "&sort=" + sort
    
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()

    if(rescode==200):
        response_body = response.read()
        response_dict = json.loads(response_body.decode('utf-8'))
        items = response_dict['items']
        for item_index in range(0, len(items)):
            remove_tag = re.compile('<.*?>|&.*?;')
            
            title = re.sub(remove_tag, '', items[item_index]['title'])
            originallink = items[item_index]['originallink']
            link = items[item_index]['link']
            description = re.sub(remove_tag, '', items[item_index]['description'])
            pubDate = items[item_index]['pubDate']
                        
            news_df.loc[idx] = [title, originallink, link, description, pubDate]
            
            idx += 1
    else:
        print("Error Code:" + rescode)

검색 질의: 이강인

In [35]:
news_df.shape

(1000, 5)

In [36]:
news_df.head(3)

,Title,Original Link,Link,Description,Publication Date
0,"스페인 프로축구 이강인, 레알 마드리드 상대로 도움 기록",https://www.yna.co.kr/view/AKR2022091103450000...,https://sports.news.naver.com/news.nhn?oid=001...,스페인 프로축구 마요르카에서 활약하는 이강인(21)이 거함 레알 마드리드를 상대로 ...,"Sun, 11 Sep 2022 22:02:00 +0900"
1,"이강인, 레알 마드리드 상대로 4경기 연속 공격포인트",http://www.newsis.com/view/?id=NISX20220911_00...,https://sports.news.naver.com/news.nhn?oid=003...,"기사내용 요약 소속팀 마요르카, 1-4 역전패 스페인 프로축구 라리가 마요르카에서 ...","Sun, 11 Sep 2022 23:29:00 +0900"
2,"이강인, 레알 마드리드 전에서 시즌 3호 도움",https://imnews.imbc.com/news/2022/sports/artic...,https://sports.news.naver.com/news.nhn?oid=214...,스페인 프로축구 마요르카에서 뛰는 이강인이 시즌 3번째 도움을 기록했습니다. 이강인...,"Sun, 11 Sep 2022 23:04:00 +0900"