## RMySQL

In [2]:
library(tidyverse)
library(RMySQL)

In [4]:
password = "sktafa!ker"

### ```dbConnect``` : host내 DB와 직접 연결
- ```MySQL()``` : SQL종류 중 MySQL을 사용할 것이라고 선언
- ```user``` : 사용자 명
- ```password```
- ```host``` : DB가 존재하는 host
- ```dbname``` : 연결할 DB
- ```client.flag = CLIENT_MULTI_RESULTS``` : 여러개의 쿼리결과들을 누락없이 다루기 위함

In [59]:
conn <- dbConnect(
  MySQL(),
  user = 'root', 
  password = pass, 
  host = 'localhost',
  client.flag = CLIENT_MULTI_RESULTS
)

### ```dbGetQuery``` : 쿼리문 적용

In [22]:
dbGetQuery(conn, "SHOW DATABASES") %>% print

             Database
1  information_schema
2           market_db
3               mysql
4            naver_db
5          netflix_db
6  performance_schema
7              sakila
8             shop_db
9              solodb
10                sys
11              world

### ```dbListTables``` : 테이블 목록 조회

In [12]:
dbGetQuery(conn, "USE world")

In [13]:
dbListTables(conn)

[1] "allview"         "city"            "city2"           "country"
[5] "countrylanguage"

### ```dbListFields``` : 테이블 칼럼 정보 조회

In [17]:
dbListFields(conn, "city")

[1] "ID"          "Name"        "CountryCode" "District"    "Population"

### ```dbReadTable``` : 테이블을 R데이터프레임으로 가져오기

In [51]:
city <- dbReadTable(conn, "city")

In [53]:
class(city)
glimpse(city)

[1] "data.frame"

Rows: 4,079
Columns: 5
$ ID          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,~
$ Name        <chr> "Kabul", "Qandahar", "Herat", "Mazar-e-Sharif", "Amsterdam~
$ CountryCode <chr> "AFG", "AFG", "AFG", "AFG", "NLD", "NLD", "NLD", "NLD", "N~
$ District    <chr> "Kabol", "Qandahar", "Herat", "Balkh", "Noord-Holland", "Z~
$ Population  <int> 1780000, 237500, 186800, 127800, 731200, 593321, 440900, 2~

### ```dbWriteTable``` : 테이블에 데이터 입력 
### ```dbSendUpdate``` : 테이블 수정

### 테이블에 한글 포함시

In [ ]:
dbSendQuery(conn, "SET NAMES utf8;") 
dbSendQuery(conn, "SET CHARACTER SET utf8;") 
dbSendQuery(conn, "SET character_set_connection=utf8;")

### ```dbDisconnect``` : 연결 종료

In [60]:
dbDisconnect(conn)

[1] TRUE